# Backend - Maven build
target/

# Backend - MongoDB data files
*.wt
*.bson
mongod.lock
diagnostic.data/
journal/
_tmp/

# Frontend - Node modules
node_modules/

# Environment variables
.env
.env.local

# Mac system files
.DS_Store

# IDE files
.idea/
*.iml